*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}

.logo{
    
}

img {
    width: 40px;
    border-radius: 50%;
}

.header-container {
    display: flex;
    background: rgb(150, 144, 145);
    justify-content: space-between;
    padding: 2rem 3rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 4rem;
}

nav ul li:last-child {
    margin-right: 10rem;
}

nav a{
    color: rgb(41, 41, 36);
    font-size: 1.5rem;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

nav a:hover {
    color: rgb(1, 1, 1);
    font-size: 1rem;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
/* 
.header-container {

    display: flex;
    justify-content:center;
    background-color: rgb(76, 80, 220);
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}
.header-container ul {
    display:flex;
    list-style-type: none;
}

.header-container ul li{
    margin-right: 4rem;
}

.header-container ul li a{
    color: rgb(5, 5, 5);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.1rem;
}
.header-container a:hover{
    background-color: rgb(129, 133, 251);
    text-decoration: none;
    text-decoration-thickness: 1.5px;
    border-radius: 1.5px;
}

.text > *{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1.5rem;
}

.text2 > *{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1.5rem;
} */